body , html {
     font-family: 'Poppins', sans-serif;
     font-size: 62.5%;
     overflow-x: hidden;
     background-color: $background-color;
     color: $text-color;
    
    
    
}
// section{
//      min-height: 100VH;
//      padding: 10rem 7% 2rem 7%;
// }